In [1]:
import json
import re
from pathlib import Path
import tqdm
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sh
import glob
from multiprocessing import Pool


import analysishelper as ah
import cachedefs as cd

plt.rcParams['pdf.fonttype'] = 42
plt.rcParams.update({'mathtext.default':  'regular' })

In [9]:
if cd.CACHE_SAMPLE_PROFILES_PLOTABLE.exists():
    df_plotable = pd.read_pickle(cd.CACHE_SAMPLE_PROFILES_PLOTABLE)
else:
    raise NotImplementedError("Missing cache")

In [10]:
any_methods = df_plotable[["shared_any", "baseline_only_any", "cloud_only_any"]]
any_methods.describe()

         shared_any  baseline_only_any  cloud_only_any
count    844.000000         844.000000      844.000000
mean    7654.181280        5729.214455    12135.327014
std    12236.309911       14792.918780    11014.596855
min        0.000000           0.000000        0.000000
25%      142.750000          29.000000     2918.500000
50%      922.500000         347.000000     9650.000000
75%    12582.500000        2768.750000    18640.500000
max    84639.000000      141380.000000    71701.000000